<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EquipmentPrefix" value="SMART01-FT-" />
		<add key="LogPath" value="C:\DGS\LOGS" />
		<add key="APIURLBASE" value="https://MAN-prd.jemsms.corp.jabil.org/" />
		<add key="CHKCONN" value="api-external-api/swagger/index.html" />
	

	</appSettings>
</configuration>